
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bird</title>
</head>
<body>
    <partial name="AdminHome.cshtml" />
</body>
</html>
